<% include ../partials/header %>
<div class="container" >
<header class="jumbotron" >
    <div class="container">
        <h1>Welcome to YelpSkate!</h1>
        <p>View our handpicked skateparks from all over Florida </p>
        <p>
        <a class="btn btn-primary btn-lg" href="/skateparks/new">Add New Skatepark</a>
        </p>
    </div>
</header>
    
    <div class="row" style="display:flex; flex-wrap: wrap;" >
        <div class="col-lg-12">
            <h3>Florida's most popular skateparks</h3>
        </div>
  <div class="row text-center" style="display:flex; flex-wrap: wrap;" >
    <% skateparks.forEach(function(skatepark){%>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" >
                   <div class="caption" >  
                   <h4><%=skatepark.name%></h4>
                   </div>
                    <img src="<%=skatepark.image%>">
            </div>
                 <div>
                     <p>
                         <a href="/skateparks/<%=skatepark._id%>" class="btn btn-primary">More Info</a>
                     </p>
                 </div>
        </div>
    <% }); %>  
    </div>
    </div>
</div>

<% include ../partials/footer %>